/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toggle-buttons-centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-button-toggle-group {
  margin-bottom: 50px;
}

mat-button-toggle {
  width: 120px;
}
